@import "../../../index.css";

/* USER LOGIN AND LOGOUT */
.userArea {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}
.logOutButton {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
    background-image: var(--primary-linear);
    font-weight: bold;
    text-transform: uppercase;
}