
/* USER LOGIN AND LOGOUT */
.userArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logOutButton {
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 40px;
    background-image: linear-gradient(to right, #16b1ee , rgba(35, 159, 241, 0.747));
    font-weight: bold;
    text-transform: uppercase;
}