@import "../../index.css";

.Todos {
    width: var(--app-width);
    max-height: 80vh;
    background-color: var(--background-light);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
