@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "../../index.css";

*{
    font-family: 'Roboto', sans-serif;
}

.signIn_Form{
    width: 500px;
    max-height: 80vh;
    background-color: var(--background-light);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    color: var(--text-color);

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.signIn{
    padding: 0.5rem 1rem;
    text-align: center;
}

.info_Form{
    display: flex;
    flex-direction: column;
}

.emailName, .emailPassword{
    color: var(--text-color); 
    font-weight: 500;
    margin: 0.5rem 0;
}

.email_ID,.email_password{
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px 10px 10px 0;
    transition: all .3s ease-out;
    border-radius: 5px;
    padding: var(--input-padding);
}

.email_ID:focus, .email_password:focus{
    border-bottom: 1px solid #1692f4;

}

.forgot_password{
    text-align: right;
    text-decoration: none;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.btn_signIn{
    width: 100%;
    height: 40px;

    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-image: var(--primary-linear);
    margin: 1rem auto;
}

.register{
    text-align: center;
}

.icon{
    width: 100%;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    
}

.fb, .twiter, .gg{
    width: 80px;
    height: 40px;
    border: none; 
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    background-image: var(--primary-linear);

    -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.75);
box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.75);
}

.icon_link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    color: var(--text-color);
}

.signUp{
    text-align: right;
    font-weight: bold;
    margin-top: 50px;
    color: #4e4e4ed9;
}

.signUp a{
    color: var(--primary-color);
    text-decoration: none;
}