
.signIn_Form{
    width: 600px;
    height: 50vh;
    margin: 100px auto;
    padding: 40px;
    border: 1px solid #ccc;
}

.signIn{
    text-align: center;
}

.info_Form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.email_ID,.email_password{
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px 10px 10px 0;
}

.forgot_password{
    text-align: right;
    text-decoration: none;
    margin-bottom: 20px;
}

.btn_signIn{
    width: 100%;
    height: 40px;

    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;


    margin: 40px auto;
}