@import "../../index.css";

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-dark);
}

.signUpContainer {
    background-color: var(--background-light);
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    width: var(--app-width);
    display: block;
    position: absolute;
    margin: 0 auto; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.signUpArea {
    padding: 20px;
}
.titleText {
    text-align: center;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.notificationArea {
    background-color: brown;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
}

.inputBox {
    margin-bottom: 1rem;
    width: 100%;
    padding: var(--input-padding);
    border: none;
    border-radius: 5px;
}

.inputBox:focus {
    outline: none;
}

.agreeTerms {
    margin: 20px 0px;
    color: var(--text-color);
}

.buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

.buttonArea >div {
    color: var(--text-color);
}

.signUpButton {
    cursor: pointer;
    color: var(--text-color);
    border-radius: 20px;
    border: none;
    padding: 10px 40px;
    width: 100%;
    background-image: var(--primary-linear);
    font-weight: bold;
    text-transform: uppercase;
}

.signUpButton:hover {
    opacity: 0.9;
}

.signUpButton:focus {
    outline: none;
}

.socialLoginArea {
    width: 100%;
    height: 100px;
    /* background-image: linear-gradient(to bottom, rgb(100, 100, 100) , rgba(7, 7, 7, 0.747)); */
    text-align: center;
    border-radius: 0 0 5px 5px;
}

/* 
.socialIcon {
    height: 23px;
    width: 23px;
    margin: 37px 10px;
    filter: invert(1);
} */

.socialIcon {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    background-image: var(--primary-linear);
    box-shadow: var(--box-shadow)
}

.socialIcon:hover {
    opacity: 0.6;
}

.signUpLabel {
    display: block;
    color: var(--text-color);
    margin: 0.5rem 0;
}

.icon{
    width: 100%;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    
}

.fb, .twiter, .gg{
    width: 80px;
    height: 40px;
    border: none; 
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    background-image: var(--primary-linear);

    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow:var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.signInLink {
    text-align: right;
    color: var(--secondary-color);
    font-weight: bold;
}