@import "./index.css";

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  top: 0;
  left: 0; 
  background-color: var(--background-dark);
}

/* Link style */
a:link {
  text-decoration: none;
  color: #0099cc;
}

a:visited {
  text-decoration: none;
  color: #0099cc;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.LoadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(40, 183, 255, 0.7);
  z-index: 100;
}

.Loading {
  display: block;
  width: 80px;
  height: 80px;
}
.Loading:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: loading 1.2s infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
