@import "../../../index.css";

.Todo {
    color: var(--primary-color);
    padding: 0 .5rem;
    margin: .75rem 0 ;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    box-shadow:var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
}

.Icon {
    color: var(--primary-color);
}

.Hide {
    opacity: 0 
}

.Delete {
    color: var(--warning-color);
}
